/*body --> #page-home --> .content --> header(img,a,span) e main (h1, p, a)*/
:root {
    --title-color: #8f879e;
    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #f0f0f5;
}
a {
    text-decoration: none;
}

